body{
    margin: 0;
    padding: 0;
}

.register-container{
    padding: 0 0 30px 0;
    width: 50%;
    border: 2px solid black;
    margin:auto;
    margin-top: 20px;
}

.heading-container{
    background-color: lightskyblue;
    padding: 10px;
    color: white;
    border-bottom: 2px solid lightgrey;
    margin-bottom: 30px;
}

.register-form{
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.register-form input{
    margin-bottom: 20px;
    padding: 8px;
    font-size: 16px;
}

.register-form label{
    font-size: 18px;
}

.register-btn{
    width: 50%;
    background-color: lightskyblue;
    padding: 8px 10px;
    margin:auto;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.register-btn a{
    color:white;
    text-decoration: none;
}
.logout-btn{
    color:white;
    text-decoration:none;
    width: 50%;
    background-color: lightskyblue;
    padding: 8px 10px;
    margin:auto;
    font-size: 16px;
}

.dashboard-container{
    padding: 0 0 30px 0;
    width: 50%;
    border: 2px solid black;
    margin:auto;
    margin-top: 20px;
}

